*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
    background-color: #262525;
}



.portfolio-container{
    min-height:100vh;
   min-width: 100vh;
    display: flex;
    
    
    
}
.navlist{
    display: flex;
    gap:3rem;
     height: 15vh;
     width:100%;
    justify-content: center;
    align-items: center;
position: fixed;
}
.navlist li{
    list-style: none;
color:white;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1 rem;
    color:white;
}
.left-container,.right-container{
    height: 100vh;
display: flex;
}

.left-container{
background: #262525;
width: 70%;
padding-left: 3rem;
align-items: center;
}
.right-container{
    background: #3877ff;
width: 30%;

}
.icons.fa-brands{
    
    font-size: 1.7rem;

}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    color: antiquewhite;
}
.content{
    margin-left: 4rem;
}
.content .intro span{
    color:#5DB9EE;
}
.content .intro{
    font-size: 1.5rem;
    color: white;
}
.content h1{
    font-size: 4rem;
    color:#5DB9EE;
}
.content .detail{
    font-size: 1.1rem;
    color: white;
    max-width: 38rem;
    margin:1.1rem 0 3rem 0;
}
.btn-container button{
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding:.8rem 1.5rem;
    border-radius:.5rem;
    transition: .5s ease;
}
button:nth-child(1){
background: #5DB9EE;
}
button:nth-child(2){
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;
}

button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;
}

button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;
}

.icons .fa-brands:hover{
cursor: pointer;
background: linear-gradient(#fff,#3877ff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.design .circle{
aspect-ratio: 1;
position: absolute;
border-radius: 50%;
top:50%;
left:70%;
transform: translate(-45% , -45%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent 45%, #262525 45%);
    
    width:38rem;
}
.circle:nth-child(2){
    
    width:30rem;
    background-image: url("girl\ pic.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border :.1rem solid white;
    box-shadow: 0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff ;
}

#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
flex-basis: 35%;;
}
.about-col-1 img{
width: 100%;
border-radius: 25px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7782e7;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:blue;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ..............srvices............. */
#services{
    padding: 30px 0;
    color: white;
 } 
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background:rgb(41, 39, 39);
    padding: 50px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
font-size: 30px;
font-weight: 500;
margin-bottom: 15px;
} 
.services-list div a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    display: inline-block;
}

.services-list div:hover{
    background:rgb(69, 69, 238);
    transform: translateY(-10px);

}
.sub-title2 span{
    color: #3877ff;
    font-size: 35px;
}